@import './appVariables';

.btn {
  /* based on your application default button size and border size may vary*/
  border-radius: 0px !important;
  min-width: rem(140px);
}
/**
 * define btn color based on your application
 */
$button_text-colors: () !default;
$button_colors: () !default;
$button_colors: (
    "blue": $blue
  );
$button_text-colors: (
    "blue": $white
 );

@each $name, $bgcolor in $button_colors {
  .btn-#{$name} {
    background-color: $bgcolor !important;
    @each $buttonName, $color in $button_text-colors {
      @if ($buttonName == $name) {
        color: $color !important;
      }
    }
  }
}
