<div [formGroup]="group" class="ng-select-tooltip">
  <label *ngIf="label" class="pt-3">{{label}}</label><span *ngIf="required" class="required"> *</span>
  <ng-container *ngIf="isEdit; else elseTemplate">
    <ng-select [formControlName]="name" [items]="options" [bindLabel]="labelKey" [bindValue]="isWhole ? '' : valueKey"
      [clearable]="clearable" [multiple]="multiple || false" [hideSelected]="multiple || false"
      (change)="onChange($event)"
      [ngClass]="{ 'is-invalid': formField && formField.errors && (isFormSubmitted || (!formField.pristine && isErrorOnChange)) }"
      autoCapitalize="on">
      <ng-container *ngIf="!multiple">
        <!-- custom dropdown for show tooltip for long labels  -->
        <ng-template ng-label-tmp let-item="item">
          <div class="text-overflow" placement="right" tooltip="{{item[labelKey] || item}}">
            {{item[labelKey] || item}}{{additionalLabelKey ? - item[additionalLabelKey] : ''}} </div>
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <div class="text-overflow" placement="right" tooltip="{{item[labelKey] || item}}">
            {{item[labelKey] || item}}{{additionalLabelKey ? -  item[additionalLabelKey] : ''}} </div>
        </ng-template>
      </ng-container>
      <ng-container *ngIf="multiple">
        <!-- custom tag for showing multiselect values-->
        <ng-template ng-label-tmp let-item="item" let-clear="clear">
          <span *ngIf="!item.isDefault" class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          <span class="ng-value-label text-overflow" placement="right"
            tooltip="{{item[labelKey] || item}}">{{item[labelKey] || item}}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item">
          <div class="text-overflow" placement="right" tooltip="{{item[labelKey] || item}}">
            {{item[labelKey] || item}}
          </div>
        </ng-template>
      </ng-container>
    </ng-select>
    <div *ngIf="formField && formField.errors && (isFormSubmitted || (!formField.pristine && isErrorOnChange))"
      [ngClass]="{ 'error-message pt-1': formField && formField.errors && (isFormSubmitted || (!formField.pristine && isErrorOnChange)) }">
      {{formField ? formField.errors['message'] : ''}}
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="h-30 d-flex text-content align-items-center" [tooltip]="value">
      {{value}}
    </div>
  </ng-template>
</div>
