<ng-container [formGroup]="group">
  <label class="pt-3" *ngIf="label">{{label}}</label><span *ngIf="required" class="required"> *</span>
  <ng-container *ngIf="isEdit; else elseTemplate">
    <input [type]="type" [id]="name" [name]="name" [formControlName]="name" class="form-control"
      [ngClass]="{ 'is-invalid': formField && formField.errors && (isFormSubmitted || (!formField.pristine && isErrorOnChange))  }"
      (blur)="onBlur($event)" (focus)="onFocus($event)" (input)="onValueChange($event)" />
    <div *ngIf="formField && formField.errors && (isFormSubmitted || (!formField.pristine && isErrorOnChange)) "
      [ngClass]="{ 'error-message': formField && formField.errors && (isFormSubmitted || (!formField.pristine && isErrorOnChange))  }">
      {{formField ? formField.errors['message'] : ''}}
    </div>
  </ng-container>
  <ng-template #elseTemplate>
    <div class="h-30 d-flex text-content align-items-center" [tooltip]="group.value[name] || ''">
      {{group.value[name] || ''}}
    </div>
  </ng-template>
</ng-container>
