/* You can add global styles to this file, and also import other style files */
@import './assets/scss/appShared';
@import './assets/scss/base/ngSelectOverrides';
@import './assets/scss/button';

/* To use bootstrap mixins variables and functions */
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';

.required, .error-message {
  color: $required;
}

.is-invalid {
  border-color: $required !important;
  background-image: none !important;
}

// input form overrides
.form-control {
  border-radius: 0px !important;
}


.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.f-right {
  float: right;
}

body {
  font-size: rem(16px) !important; // application default overall font size
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@media (min-width: 1800px) and (max-width: 1999px) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 1600px) and (max-width: 1799px) {
  html {
    font-size: 17px;
  }
}

@media (min-width: 1400px) and (max-width: 1599px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  html {
    font-size: 15px;
  }
}

// Large devices (desktops, 992px and 1199px)
@include media-breakpoint-only(lg) {
  html {
    font-size: 14px;
  }
}

// Medium devices (tablets, 768px and 991px)
@include media-breakpoint-only(md) {
  html {
    font-size: 13px;
  }
}
// Small devices (landscape phones, 576px and 767px)
@include media-breakpoint-only(sm) {
  html {
    font-size: 12px;
  }
}
